In [1]:
import numpy as np
import pandas as pd

In [5]:
#Read the dataset to the python environment
data = pd.read_excel(r"C:\Users\Raseena\OneDrive\Documents\iris.xlsx")
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
#Display the columns in the dataset
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [15]:
#Calculate the mean of each column of the dataset
print(data['SL'].mean())
print(data['SW'].mean())
print(data['PL'].mean())
print(data['PW'].mean())

5.843333333333334
3.0540000000000003
3.758666666666666
1.1986666666666668

In [11]:
#Check for the null values present in the dataset
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64